.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* HEADER */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
}

.header__left_column {
  display: flex;
  align-items: center;
}

.logo {
  /* border: 2px solid red; */
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  /* border: 2px solid red; */
  width: 730px;
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  /* border: 2px solid red; */
  width: 338px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__arrow::after {
  content: " -->";
}


/* .header_right_column {} */

.header__main_illustration {
  background-size: cover;
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}


/* border: 2px solid red; */


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  /* border: 1px solid red; */
}


/*  DESCRIPTION */

.description {
  margin-top: 100px;
}

.description__two_columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.paragraph_margin {
  margin: 30px 0px;
}

.description__two_columns_brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.description__two_columns_main-text {
  max-width: 965px;
}


.description__two_columns_paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span_accent {
  font-style: bold;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}





/*  DIGITS  */

.digits {
  margin-top: 100px;
}

.table_title {
  width: 60%;
}

.table_title,
.table_subtitle {
  width: 60%;
  margin: 0 auto;
}

.table_subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-left: 650px;
}

.table_title {
  padding-left: 396px;
  padding-top: 100px;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.table {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
}

.table_cell {
  width: 250px;
  margin-top: 60px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.table_heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table_subtext {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*  FEYNMAN  */


.feynman {
  display: flex;
  flex-direction: column;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  min-height: 637px;
}


.feynman__title {
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-top: 100px;
}

.feynman__subtitle {
  margin: 0 auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  /* right: 48px; */
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__arrow::after {
  content: " -->";
}





/*  KAUFMAN  */


.kaufman {
  /* margin-top: 100px; */
  background-color: #1f1f1f;
  /* overflow: hidden; */
  padding-top: 90px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-position: right;
}


.table__theme_dark {
  display: flex;
  flex-wrap: wrap;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: #f2f2f2;
  margin-right: 0;
  margin-top: 80px;
  margin-left: 85px;
}


.table_title_theme_dark {
  padding-left: 500px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: #f2f2f2;
  width: 60%;
  margin: 0 auto;
}

.table_subtitle_theme_dark {
  padding-left: 600px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #f2f2f2;
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}


.table_heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table_text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}



/*  FOOTER  */

.footer {
  position: relative;
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.footer__author {
  color: #f2f2f2;
  position: absolute;
  bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
}

.footer__list {
  list-style-type: none;
  color: #f2f2f2;
}

/* .footer-columns_content_info {
}

.footer-columns_content_social {
} */

.footer__column_link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.logo__place_footer {
  position: absolute;
}

.footer__heading {
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}


.social_icon_face {
  padding-right: 20px;
}

.social_icon_vk {
  padding-right: 20px;
}

.social_icon_inst {
  padding-right: 20px;
}

/* .footer-column_link::hover {
  color: #2f80ed;
} */
